@model List<Productos>
@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title></title>
</head>
<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var producto in Model)
            {
                <tr>
                    <td>@producto.nombre</td>
                    <td>@producto.descripcion</td>
                    <td>@producto.precio</td>
                    <td>
                        <a asp-page="Edit" asp-route-id="@producto.idProducto" class="btn btn-sm btn-warning">Editar</a>
                        <a asp-page="Delete" asp-route-id="@producto.idProducto" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
